# ignora TUTTI i node_modules
**/node_modules/

# ignora dist Vite (React)
frontend-dev/dist/

# ignora dist-ssr se c’è
dist-ssr

# ignora SQLite se NON vuoi versionarlo (opzionale)
# backend-dev/ristrutturazione.db

# ignora file temporanei
*.log
logs
.vscode/
.idea
.DS_Store
